.container {
  padding: 5px;
}
.container #canvas {
  border: 1px solid gray;
  padding: 7px;
  width: 568px;
  height: 416px;
  cursor: pointer;
}

.button {
  padding: 5px;
  cursor: pointer;
}
.button #random {
  user-select: none;
  display: inline-block;
  border-radius: 13px;
  border: 1px solid gray;
  padding: 4px 10px;
  background-color: #0087ff;
  color: white;
  width: 100px;
  text-align: center;
}
.button #again {
  user-select: none;
  display: inline-block;
  border-radius: 13px;
  border: 1px solid gray;
  padding: 4px 10px;
  background-color: #0087ff;
  color: white;
  width: 100px;
  text-align: center;
}
.button #slow {
  user-select: none;
  display: inline-block;
  border-radius: 13px;
  border: 1px solid gray;
  padding: 4px 10px;
  background-color: #0087ff;
  color: white;
  width: 100px;
  text-align: center;
}
.button #speed {
  display: inline-block;
}

.setting {
  padding: 5px;
  width: 580px;
}
.setting #setting {
  border: 1px solid gray;
  padding: 5px;
  height: 88px;
  font-size: 20px;
  cursor: pointer;
}
.setting #name {
  margin-top: 8px;
  border: 1px solid gray;
  padding: 5px;
  height: 44px;
  font-size: 20px;
  line-height: 56px;
}
